{% extends "_user_layout.html" %}

{% block title %}Login - My Online Store{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Login</h2>
            <form method="POST" action="{{ url_for('login') }}">
                {{ login_form.hidden_tag() }}
                <div class="form-group mb-3">
                    {{ login_form.email.label(class="form-control-label") }}
                    {% if login_form.email.errors %}
                        {{ login_form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in login_form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ login_form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ login_form.password.label(class="form-control-label") }}
                    {% if login_form.password.errors %}
                        {{ login_form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in login_form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ login_form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ login_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
