<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Users Spending Report</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Category Name</th>
            <th>Total Spent Per Category</th>
          </tr>
        </thead>
        <tbody>
          {% for row in report %}
            <tr>
              <td>{{ row.user_id }}</td>
              <td>{{ row.category_name }}</td>
              <td>{{ row.total_spent_per_category }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
